POSTGRES_USER=auction_user
POSTGRES_PASSWORD=auction_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=auction_db

REDIS_HOST=localhost
REDIS_PORT=6379

SUPERTOKENS_CONNECTION_URI=http://localhost:3567
